*{
    margin: 0;
    padding: 0;
}
.claseUL{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.claseLI{
    list-style: none;
}
.titulo{
    background-color: grey;
    text-align: center;
    font-family: sans-serif;
    color: white;
}
.section1{
    color: white;
    justify-content: center;
    text-align: center;
}
.footer{
    background-color: grey;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.container-xl{
    font-family: serif;
    margin: 60px;
    color: gold;
}
body{
    background-color: black;
}
.card-body{
    background-color: grey;
}
@media screen and (max-width: 360px) {
    body {
      background-color: #000000; }
    .claseUL{
        display: flex;
        flex-wrap: wrap;
        max-width: 15rem;
    }
    .card-body{
        display: flex;
        flex-wrap: wrap;
    }
     }